<nav class="navbar" [class.scrolled]="isScrolled">
  <a class="navbar__brand" href="https://www.techpotam.com/uk/">
    <div class="navbar__logo">
      <span class="logo-t">T</span><span class="logo-p">P</span>
    </div>
    <span class="navbar__logo-text">Techpotam</span>
  </a>

  <ul class="navbar__links" [class.open]="menuOpen">
    <li><a href="#services" (click)="closeMenu()">Services</a></li>
    <li><a href="#about" (click)="closeMenu()">About</a></li>
    <li><a href="https://www.techpotam.com/uk/" target="_blank" (click)="closeMenu()">Full Site</a></li>
  </ul>

  <div class="navbar__actions">
    <a href="https://www.techpotam.com/uk/#contact" class="btn btn--outline" target="_blank">Let's Collaborate</a>
    <a href="https://www.techpotam.com/uk/#contact" class="btn btn--primary" target="_blank">Free Consultation</a>
  </div>

  <button class="navbar__burger" (click)="toggleMenu()" aria-label="Menu">
    <span [class.active]="menuOpen"></span>
    <span [class.active]="menuOpen"></span>
    <span [class.active]="menuOpen"></span>
  </button>
</nav>
